<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>

     <!-- Allow PUT, PATCH, DELETE -->
    <security>
      <requestFiltering>
        <verbs allowUnlisted="true">
          <add verb="PUT" allowed="true" />
          <add verb="DELETE" allowed="true" />
          <add verb="PATCH" allowed="true" />
        </verbs>
      </requestFiltering>
    </security>
    <rewrite>
      <rules>
        <rule name="Laravel Subdir Rewrite" enabled="true" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="public/index.php/{R:1}" appendQueryString="true" />

        </rule>
      </rules>
    </rewrite>

    <defaultDocument>
      <files>
        <clear />
        <add value="public/index.php" />
      </files>
    </defaultDocument>
        <directoryBrowse enabled="false" />
  </system.webServer>
</configuration>
